.arm{
	position: relative;
}

#rectangle{
	position: absolute;
	top: 40px;
	width: 40px;
	height: 40px;
	color: blue;
	border: solid;
	border-radius: 100%;
	animation-name: cyblood;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes cyblood{
	0%{
		top:40px;
		left:0px;
	}
	50%{
		top:60px;
		left: 30px;
	}
	100%{
		top:80px;
		left:60px;
	}
}

#dot{
	position:absolute;
	top:100px;
	left: 90px;
	width: 20px;
	height: 10px;
	border: solid;
	color: red;
	background-color: red;
	animation-name: cyplasma;
	animation-delay: 5s;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes cyplasma {
	0%{
		top:100px;
		left: 90px;
	}
	50%{
		top:150px;
		left:200px;
	}
	100%{
		top:175px;
		left: 300px;
	}
}
section#blood{
	display: block;
	margin-left: 20px;
	position: relative;
	border: 5px solid darkred;
	padding: 25px;
	width: 30vw;
}

h5#meat{
	color:cornsilk;
}

h5#right{
	color:navajowhite;
}

h5#righttwo{
	color:darksalmon;
}

h5#hold{
	color:indianred;
}

h5#boy{
	color:firebrick;
}

h5#bill{
	color:brown;
}

h5#blood{
	color:darkred;
}

section#bluelight{
	position: absolute, bottom 50px;
	border: 5px dotted darksalmon;
	padding: 25px;
	width: 30vw;
}

h5#blue{
	font-size: xx-small;
}

h5#blew{
	font-size: x-small;
}

h5#brute{
	font-size: small;
}

h5#rude{
	font-size: medium;
}

h5#red{
	font-size: large;
}

section#gungungun{
	color: maroon;
}

h5#girl{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: ultra-condensed;
}

h5#woman{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: condensed;
}

h5#kid{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: normal;
}

h5#cal{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: semi-expanded;
}

h5#calibre{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: expanded;
}

h5#cannon{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: extra-expanded;
}

h5#gun{
	font: small-caps 16px/1.4 Arial, Helvetica, sans-serif;
	font-stretch: ultra-expanded;
}

-----






























