h1{
	color: cyan;
	font-family: sans-serif;
	font-size: 10vw;
	font-weight: bold;
	position: sticky;
	top: 20px;
	margin-top: 0px;
}

#banner {
    border: cyan;
    border-width: medium;
    border-style: solid;
    height: 75px;
    overflow: hidden;
    text-align: center;
    position: relative;
    
}
p {
    font-family: sans-serif;
	font-size: x-large;
	font-weight: bold;
	color: cyan;
    position: absolute;
    overflow: hidden;
    animation-name: stroller;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
    transform: translateX(100%)
}

@keyframes stroller{
	0%{
		transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}

#calendar{
    z-index: 0; 
    width: 90vw;
    padding: 30px;
    margin: 20px;
    top: 80px;
    left: 0px;
}

#block{
	position: relative;
	width: 90vw;
	padding: 30px;
	margin: 20px;
	top: 120px;
	left: 10px;
    z-index: 1;
}

.calendar-box{
    position: absolute;
    top: 90px;
    height: 100%;
    width: 9%;
    display: inline-grid;
    vertical-align: top;
    text-align: center;
}

.done{
    font: sans-serif large blue;
    visibility: visible;
    animation: none;
    position: absolute;
    right: 100%; 
    opacity: 0;
}

.done:hover{
    opacity: 1;
}

.done:active{
    opacity: 0;
}
    
#day2{
    left:17%;
}
#day3{
    left:30%;
}
#day4{
    left:45%
}
#day5{
    left:58%;
}
#day6{
    left:70%;
}
#day7{
    left:80%;
}
body{
	background-color: blue;
	height: 100vh;
	width: 100vw;
}

.roxi2{
    width: 20vw;
    height: 30vh;
    display: none;
}

