body{
    background-color: lightcyan;
}
#beans span{
	color: #0C00FF;
	font-family: sans-serif;
	font-size: xx-large;
	font-weight: bolder;
	top: 50vh;
	left: 25vw;
	position: relative;
	float: left;
	animation-name: wiggle;
}

#gabe span{
	color: #98FEFF;
	font-family: sans-serif;
	font-size: xx-large;
	font-weight: bolder;
	top:50vh;
	left:50vw;
	position: relative;
	animation-name: burst;
	transform: translate(2px, 2px), rotate(0deg);
	display: inline-block;
}

#beans:hover span{
	cursor:pointer;
	animation-name: wiggle;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#gabe:hover span{
	cursor:pointer;
	animation-name: burst;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes wiggle{
	0%{
		position: relative;
		transform: translate(-20px, -10px);
	}
	25%{
		position: relative;
		transform: translate(40px, -20px);
	}
    50%{
        position: relative;
        transform: translate(-25px, 0px);
    }
    75%{
        position: relative;
        transform: translate(35px, 10px);
    }
	100%{
		position: relative;
		transform: translate(-30px, -20px);
	}
}

@keyframes burst{
	0%{
		position: relative;
		transform: translate(2px, 2px) rotate(0deg);
	}
	25%{
		position: relative;
		transform: translate(-5px, -4px) rotate(-40deg);
	}
	50%{
		position: relative;
		transform: translate(1px, 3px) rotate(10deg);
	}
	75%{
		position: relative;
		transform: translate(-2px, -2px) rotate(-20deg);
	}
	100%{
		position: relative;
		transform: translate(2px, 2px) rotate(20deg);
	}
}